/* REM ROOT 54px(设计图540px) */

/* 没有预编译器 所以这里通过注释定义 公共变量 */

/* 布局根节点 */
/*html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
*/
.panel {
    position: fixed;
    /*top: 0px;*/
    top: -1rem;
    left: 0px;
    width: 100%;
    height: 6.8rem;
    /*background: rgba(0, 0, 0, 0.5);*/
    position: relative;
    overflow: hidden;
}

/* 子弹 */
/*.panel .bullet {
    background-image: url(../img/sprites.png);
    background-size: 1060px 740px;
    background-position: -1016px -444px;
    width: 33px;
    height: 60px;*/
    /* 定义子弹初始化位置 */
  /*  position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);*/
    /* animation: bulletRoutine 2s linear infinite forwards; */
    /* animation: bulletBoom 300ms steps(1, start) 0ms normal forwards; */
/*}*/

.bullet {
    background-image: url(/static/img/sprites.png);
    background-size: 1060px 740px;
    background-position: -1016px -444px;
    width: 33px;
    height: 60px;
    /* 定义子弹初始化位置 */
    position: absolute;
    top: -.6rem;
    left: 2.45rem;
    transform: translate(-50%, 0);
     /*animation: bulletRoutine 2s linear infinite forwards; */
     /*animation: bulletBoom 300ms steps(1, start) 0ms normal forwards; */
}


/* 定义子弹轨迹 */
@keyframes bulletRoutine {
    0% {
        /*transform: translate3d(-40%, 0, 0);*/
        transform: translate3d(-50%, 0, 0);
    }

    100% {
        /*transform: translate3d(-40%, -330px, 0);*/
        transform: translate3d(-50%, -5.4rem, 0);
    }
}

/* 子弹命中的漂移路径 */
@keyframes bulletAim {
    0% {
        /*transform: translate3d(-50%, -360px, 0);*/
        transform: translate3d(-50%, -5.8rem, 0);
    }

    100% {
        /*transform: translate3d(-50%, -360px, 0);*/
        transform: translate3d(-50%, -5.8rem, 0);
    }
}

/* 子弹爆炸动画 */
@keyframes bulletBoom {
    0% {
        width: 33px;
        height: 60px;
        background-position: -1016px -444px;
    }
    20% {
        width: 69px;
        height: 81px;
        background-position: -563px -454px;
    }
    40% {
        width: 87px;
        height: 74px;
        background-position: -668px -458px;
    }
    60% {
        width: 91px;
        height: 74px;
        background-position: -780px -458px;
    }
    80% {
        width: 94px;
        height: 63px;
        background-position: -892px -463px;
    }
    100% {
        width: 94px;
        height: 63px;
        background-position: -2000px -2000px;
    }
}

/* fish */

/* fish swimming */
@keyframes fishSwimmimg {
    0% { transform: translateX(0px) scale(0.75); }
    100% { transform: translateX(-690px) scale(0.75); }
}

@keyframes fishSswim {
    0% { transform: translateX(0px) scale(0.65); }
    100% { transform: translateX(-690px) scale(0.65); }
}

.fish-i {
    position: absolute;
    top: 0px;
    /* left: 0px; */
}
.fish-i .hongbao{
    position: absolute;
    width:54px;
    height: 54px;
    background-image: url(/static/img/hongbao.png);
    background-size: 100% 100%;
    color: #fff;
    font-weight: bold;
    top: 96px;
    left: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 54px;
}

.fish-i.small {
    transform: scale(0.75);
}

.fish-i-2 {
    position: absolute;
    /*top: 150px;*/
    top:2rem;
    border:1px solid;
}

.fish-i-2 .hongbao2{
    position: absolute;
    width:54px;
    height: 54px;
    background-image: url(/static/img/hongbao.png);
    background-size: 100% 100%;
    color: #fff;
    font-weight: bold;
    top: 96px;
    left: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 54px;
    z-index: 999;
}

.fish-i:before,
.fish-i-2:before {
    content: '';
    display: block;
    background-image: url('/static/img/sprites.png');
    background-size: 1060px 740px;
}

.fish-i .floater,
.fish-i-2 .floater {
    display: block;
    background-image: url('/static/img/sprites.png');
    background-size: 1060px 740px;
    width: 113px;
    height: 43px;
    background-position: -540px -565px;
    margin: -8px auto;
}

.fish-i .floater:before,
.fish-i-2 .floater:before {
    content: '';
    display: block;
    background-image: url('/static/img/sprites.png');
    background-size: 1060px 740px;
    background-position: -11px -662px;
    width: 53px;
    height: 68px;
    position: absolute;
    margin-top: -10px;
    transform: translate3d(-10%, 0, 0);
    animation: floaterWave .3s linear 0s infinite; /* 这里调整浮标的时间 */
}

.ani-time-6:before {
    animation-duration: 6s !important;
}
.ani-time-8:before {
    animation-duration: 8s !important;
}
.ani-time-10:before {
    animation-duration: 10s !important;
}
.ani-time-12:before {
    animation-duration: 12s !important;
}
.ani-time-14:before {
    animation-duration: 14s !important;
}

.fish-i.stop,
.fish-i-2.stop {
    animation-play-state: paused !important;
}

.fish-i.wave-stop .floater:before,
.fish-i-2.wave-stop .floater:before {
    animation-play-state: paused !important;
    transform: rotate(30deg);
    left: 0.36rem;
}

@keyframes floaterWave {
    0% {
        transform: translate3d(-10%, 0, 0);
    }
    50% {
        transform: translate3d(90%, 0, 0);
    }
}

.fish-a {
    /*width: 150px;
    height: 165px;*/
    width: 2.7778rem;
    height: 3.0556rem;
    right: -2.7778rem;
}

.fish-a:before {
    width: 150px;
    height: 165px;
    background-position: -27px -26px;
}

.fish-b {
    width: 150px;
    height: 165px;
    right: -150px;
}

.fish-b:before {
    background-position: -27px -245px;
    width: 150px;
    height: 165px;
}

.fish-c {
    width: 150px;
    height: 165px;
    right: -150px;
}

.fish-c:before {
    background-position: -557px -25px;
    width: 150px;
    height: 165px;
}

.fish-d {
    width: 150px;
    height: 165px;
    right: -150px;
}

.fish-d:before {
    background-position: -557px -243px;
    width: 150px;
    height: 165px;
}

.fish-e {
    width: 150px;
    height: 165px;
    right: -150px;
}

.fish-e:before {
    background-position: -27px -460px;
    width: 150px;
    height: 165px;
}

/* 动画 */
.fish-a.swimming {
    animation: fishSwimmimg 5s linear 0s infinite;
}

.fish-a.sswim {
    animation: fishSswim 10s linear 0s infinite;
}

.fish-b.swimming {
    animation: fishSwimmimg 5s linear 1s infinite;
}

.fish-b.sswim {
    animation: fishSswim 10s linear 2s infinite;
}

.fish-c.swimming {
    animation: fishSwimmimg 5s linear 2s infinite;
}

.fish-c.sswim {
    animation: fishSswim 10s linear 4s infinite;
}

.fish-d.swimming {
    animation: fishSwimmimg 5s linear 3s infinite;
}

.fish-d.sswim {
    animation: fishSswim 10s linear 6s infinite;
}

.fish-e.swimming {
    animation: fishSwimmimg 5s linear 4s infinite;
}

.fish-e.sswim {
    animation: fishSswim 10s linear 8s infinite;
}

/* fish catch */
.fish-a.catching:before {
    animation: fishACatching 400ms steps(1, start) 400ms normal forwards;
}

/* fish-a catching */
@keyframes fishACatching {
    0% { background-position: -27px -26px; }
    20% { background-position: -191px -29px; }
    40% { background-position: -360px -30px; }
    60% { background-position: -191px -29px; }
    80% { background-position: -360px -30px; }
    100% { background-position: -191px -29px; }
}

.fish-b.catching:before {
    animation: fishBCatching 400ms steps(1, start) 400ms normal forwards;
}

/* fish-b catching */
@keyframes fishBCatching {
    0% { background-position: -27px -245px; }
    20% { background-position: -191px -248px; }
    40% { background-position: -360px -247px; }
    60% { background-position: -191px -248px; }
    80% { background-position: -360px -247px; }
    100% { background-position: -191px -248px; }
}

.fish-c.catching:before {
    animation: fishCCatching 400ms steps(1, start) 400ms normal forwards;
}

/* fish-c catching */
@keyframes fishCCatching {
    0% { background-position: -557px -25px; }
    20% { background-position: -721px -28px; }
    40% { background-position: -890px -30px; }
    60% { background-position: -721px -28px; }
    80% { background-position: -890px -30px; }
    100% { background-position: -721px -28px; }
}

.fish-d.catching:before {
    animation: fishDCatching 400ms steps(1, start) 400ms normal forwards;
}

/* fish-d catching */
@keyframes fishDCatching {
    0% { background-position: -557px -243px; }
    20% { background-position: -721px -246px; }
    40% { background-position: -890px -247px; }
    60% { background-position: -721px -246px; }
    80% { background-position: -890px -247px; }
    100% { background-position: -721px -246px; }
}

.fish-e.catching:before {
    animation: fishECatching 400ms steps(1, start) 400ms normal forwards;
}

/* fish-e catching */
@keyframes fishECatching {
    0% { background-position: -27px -460px; }
    20% { background-position: -191px -463px; }
    40% { background-position: -360px -468px; }
    60% { background-position: -191px -463px; }
    80% { background-position: -360px -468px; }
    100% { background-position: -191px -463px; }
}
